is_flag_enabled(RELEASE_AVF_ENABLE_EARLY_VM, `
    # Domain for a child process that manages early VMs available before /data mount, on behalf of
    # its parent.
    type early_virtmgr, domain, coredomain;
    type early_virtmgr_exec, system_file_type, exec_type, file_type;

    use_bootstrap_libs(early_virtmgr)
')
